---
- name: Build EVPN Fabric Configurations
  hosts: all
  gather_facts: no
  tasks:
    
    - name: Generate EOS device configurations
      block:
        - name: Create structured variables for device
          set_fact:
            device_config: |
              hostname {{ inventory_hostname }}
              !
              interface Management0
              ip address {{ ansible_host }}/24
              !
              no ip routing
          tags: build

        - name: Create output directory
          file:
            path: "{{ playbook_dir }}/configs"
            state: directory
          run_once: yes
          tags: build

        - name: Write config to file
          copy:
            content: "{{ device_config }}"
            dest: "{{ playbook_dir }}/configs/{{ inventory_hostname }}.conf"
          tags: build

- name: Deploy Configurations to Devices
  hosts: all
  gather_facts: no
  tasks:
    
    - name: Push configuration to device
      arista.eos.eos_config:
        lines:
          - "hostname {{ inventory_hostname }}"
        save_when: modified
      tags: deploy
      
